force-app/main/default/flows/ApexInvocableFromApex.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Display_Records_from_Apex</name>
        <label>Display Records from Apex</label>
        <locationX>670</locationX>
        <locationY>206</locationY>
        <actionName>InvocableCollectionexample</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AddList</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountList</name>
            <value>
                <elementReference>accList</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddList</name>
        <label>AddList</label>
        <locationX>809</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>accList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Display_Records_from_Apex</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FlowScreen</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ApexInvocableFromApex {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ApexInvocableFromApex</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>FlowScreen</name>
        <label>FlowScreen</label>
        <locationX>683</locationX>
        <locationY>371</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InvokeApex</name>
            <extensionName>c:invokeApexExample</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AccList</name>
                <value>
                    <elementReference>accList</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>544</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Display_Records_from_Apex</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
