force-app/main/default/flows/Display_Contact_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assignValues</name>
        <label>assignValues</label>
        <locationX>818</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>varAcc</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!LoopContacts.FirstName} {!LoopContacts.LastName} &lt;Br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Display Contact List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Contact List</label>
    <loops>
        <name>LoopContacts</name>
        <label>LoopContacts</label>
        <locationX>641</locationX>
        <locationY>120</locationY>
        <collectionReference>getContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_Account_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getContacts</name>
        <label>getContacts</label>
        <locationX>525</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Account_List</name>
        <label>Display Account List</label>
        <locationX>612</locationX>
        <locationY>342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayText</name>
            <fieldText>&lt;p&gt;Count{!recordCount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!varAcc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>102</locationX>
        <locationY>78</locationY>
        <connector>
            <targetReference>getContacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAcc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
