force-app/main/default/flows/Mass_Delete_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>massAccountAssignment</name>
        <label>massAccountAssignment</label>
        <locationX>885</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>massAccountVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleAccountVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SingleRecordAssignment</name>
        <label>SingleRecordAssignment</label>
        <locationX>897</locationX>
        <locationY>169</locationY>
        <assignmentItems>
            <assignToReference>singleAccountVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_for_accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>massAccountAssignment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Delete_Decision</name>
        <label>Delete Decision</label>
        <locationX>522</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PLease_select_an_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_for_accounts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Mass Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mass Delete</label>
    <loops>
        <name>loop_for_accounts</name>
        <label>loop for accounts</label>
        <locationX>709</locationX>
        <locationY>256</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SingleRecordAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Accounts</name>
        <label>Delete Accounts</label>
        <locationX>771</locationX>
        <locationY>446</locationY>
        <connector>
            <targetReference>SuccessMsg</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>massAccountVar</inputReference>
    </recordDeletes>
    <screens>
        <name>ConfirmationScreen</name>
        <label>ConfirmationScreen</label>
        <locationX>522</locationX>
        <locationY>201</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delete_Decision</targetReference>
        </connector>
        <fields>
            <name>ConfirmationMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Are you sure you want to delete the records?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PLease_select_an_option</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PLease select an option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>952</locationX>
        <locationY>467</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayErrorMessage</name>
            <fieldText>&lt;p&gt;Some thing went Wrong&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(208, 29, 29);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessMsg</name>
        <label>SuccessMsg</label>
        <locationX>646</locationX>
        <locationY>455</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessfullyDeleted</name>
            <fieldText>&lt;p&gt;{!ids}&lt;/p&gt;&lt;p&gt;Selected Records are deleted Successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>205</locationX>
        <locationY>99</locationY>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>massAccountVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>singleAccountVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
