force-app/main/default/flows/SendValuesFromFlowToApex_InvokableExample.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendToFlow</name>
        <label>sendToFlow</label>
        <locationX>1421</locationX>
        <locationY>641</locationY>
        <actionName>ApexInvocableExample2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Names</name>
            <value>
                <elementReference>accNameLst</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignValues</name>
        <label>assignValues</label>
        <locationX>863</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>varAccNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!LoopOver.Name}&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accNameLst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOver.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOver</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>SendValuesFromFlowToApex_InvokableExample {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SendValuesFromFlowToApex_InvokableExample</label>
    <loops>
        <name>LoopOver</name>
        <label>LoopOver</label>
        <locationX>865</locationX>
        <locationY>398</locationY>
        <collectionReference>getAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>display</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccounts</name>
        <label>getAccounts</label>
        <locationX>848</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOver</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>display</name>
        <label>display</label>
        <locationX>1090</locationX>
        <locationY>563</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>sendToFlow</targetReference>
        </connector>
        <fields>
            <name>DisplayName</name>
            <fieldText>&lt;p&gt;{!varAccNames}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>714</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getAccounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accNameLst</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
