force-app/main/default/flows/Send_Related_Contacts_Datatable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>test</name>
        <label>test</label>
        <locationX>627</locationX>
        <locationY>469</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>vinayakb2@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>contactRelatedList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>vinayakb2@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X2v000001Q9KEEA0</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assignValues</name>
        <label>assignValues</label>
        <locationX>818</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>contactTable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TableRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>closeList</name>
        <label>closeList</label>
        <locationX>484</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>contactTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Account_List</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Send Related Contacts Datatable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Related Contacts Datatable</label>
    <loops>
        <name>LoopContacts</name>
        <label>LoopContacts</label>
        <locationX>656</locationX>
        <locationY>114</locationY>
        <collectionReference>getContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>closeList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getContacts</name>
        <label>getContacts</label>
        <locationX>525</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Account_List</name>
        <label>Display Account List</label>
        <locationX>611</locationX>
        <locationY>341</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>test</targetReference>
        </connector>
        <fields>
            <name>contact_RelatedList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getContacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-a09f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-be7a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayText</name>
            <fieldText>&lt;p&gt;{!contactTable}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>SendMail</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>102</locationX>
        <locationY>78</locationY>
        <connector>
            <targetReference>getContacts</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>contactRelatedList</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt; &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!contactTable}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TableRow</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr&gt;
    &lt;td style=&quot;border: 1px solid&quot;&gt;{!LoopContacts.FirstName}&lt;/td&gt;
     &lt;td style=&quot;border: 1px solid&quot;&gt; {!LoopContacts.LastName}&lt;/td&gt;
&lt;td style=&quot;border: 1px solid&quot;&gt;{!LoopContacts.Email}&lt;/td&gt;
  &lt;/tr&gt;</text>
    </textTemplates>
    <variables>
        <name>contactTable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;border: 1px solid&quot;&gt;   &lt;tr&gt;     &lt;th style=&quot;border: 1px solid&quot;&gt;FirstName&lt;/th&gt;     &lt;th style=&quot;border: 1px solid&quot;&gt;LastName&lt;/th&gt;       &lt;th style=&quot;border: 1px solid&quot;&gt;Email&lt;/th&gt;         &lt;/tr&gt;    </stringValue>
        </value>
    </variables>
    <variables>
        <name>recordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>table</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAcc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
